# Copy to .env and adjust for your environment.
AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# Demo-specific.
OPENEVENTS_QUEUE_NAME=storefront-events
OPENEVENTS_QUEUE_URL=http://localhost:4566/000000000000/storefront-events
OPENEVENTS_API_ADDR=:8080
